*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255,255,255);
    
}
.log-container {

}
.logo-container img {
    width: 80px;
    height: 60px;
}
.search-container {
display: flex;
}
.search-container input {
    width: 200px;
    height: 3rem;
    background-color: #FFFFFF;
    border: 3px solid black;
}
.product-search {
display: flex;
}
.product-search input {
    width: 800px;
    height:3rem;
    background-color: #FFFFFF;
    border: 3px solid black;
}
.product-search-btn i {
    background-color: black;
    color: white;
    width: 40px;
    height: 3rem;
    padding: 4px 5px;
    cursor: pointer;
}
.alllanguage {
display: flex;
/* border: 2px solid red; */
width: 110px;
height: 3rem;
padding:10px;
text-align: center;
font-weight: 800;
font-size: large;
}
.alllanguage .sub-list {
    color: black;
}
.svglang {
  font-size: x-large;
  color: red;
  background-color: black;
}
.login {
    margin-left: 20px;
    font-size: large;
    font-weight: 700;
}
.sell {
    display: flex;
    width: 150px;
    height:2.5rem;
    /* background-color: blue; */
    padding: 5px;
    justify-content: center;
    border: 3px solid red;
    font-size: large;
    border-radius: 30px;
    font-weight: 700;
}
.sellsvg {
    color: black;
    font-size: large;
}

.navbar {
    display: flex;
     justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    width: 80%;
    background-color: gray;
    height: 2.5rem;
    margin-left: 8rem;
    
  
}
.all-categories {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.fontStyle {
    font-size: large;
    font-weight: 800;
}
.recommendation {
    width: 80%;
    margin-left: 12rem;
    font-size: large;
    font-weight: 800;
    margin-top: 10px;
}